hr {
    float: none;
    clear: both;
}
section {
    font-size: 13px;
    font-family: arial, helvetica;
    padding: 7px;
    display: block;
}
section img {
    display:none;    
}

section article {
    margin : 0px 0 5px 0;
    padding: 2px 0 0 7px;
    border-left: 2px solid white;
    max-height:125px;
    overflow: hidden;
}

section  article:hover {
    background-color: #ffc;
    border-left: 2px solid red;
}

section article a {
    font-weight: bold;
    color: #009;
}

section article a:hover {
    color:#900;
}
section article p.summary {
    display: inline;
    line-height: 1.1em;
}
section article p a {
    color: #03f;
    font-weight: normal;
}

section article p {
    padding: 0;
    margin: 0;
    line-height: 1.0em;
}


section div.holder {
/*
 width: 360px;
    float: left;
    clear: none;
    */
}


section div.holder h2 {
    font-size:19px;
    line-height: 21px;
    margin: 18px 0 4px 0;
    background-color: #fff;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding-top: 2px;
    padding-left: 6px;
    padding-bottom:4px;
    padding-right:0;
    height: 23px;
    overflow: hidden;
}





section div.holder div.feed {
    max-height: 250px;
    overflow: auto;
    padding: 0;
    margin: 0;
}



