hr {
    float: none;
    clear: both;
}
section {
    /* font-size: 13px; */
    font-family: arial, helvetica;
    padding: 7px;
    display: block;
    background-color: #cccccc;
}
section img {
    display:none;    
}

section article {
    margin : 0px 0 5px 0;
    padding: 1px 15px 6px 20px;
    border-left: 2px solid #ccc;

    overflow: hidden;
}

section  article:hover {
    background-color: #fff;
    border-left: 2px solid #900;
    cursor: pointer;


}



section article a:hover {
    text-decoration: none;
}
section article p.summary {
    display: inline;
    line-height: 1.2em;
    color: #000;
}
section article p.summary a {
    font-weight: normal;
    color: #f00;
}

section article p {
    padding: 0;
    margin: 0;
    line-height: 1.0em;
}

section article em {
  font-size: 0.8em;
  font-weight:bold;
  color: #060;
  font-style: normal;
}


section div.holder {

}


section div.hold--er h2 {
    font-size:19px;
    line-height: 21px;
    margin: 18px 0 4px 0;
    background-color: #fff;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding-top: 2px;
    padding-left: 6px;
    padding-bottom:4px;
    padding-right:0;
    height: 23px;
    overflow: hidden;
}
section div.holder div.feed {
    overflow: auto;
    padding: 0;
    margin: 0;
}



.row iframe {
    margin-left:10%;
    margin-right:10%;
    width:80%;
    font-size:0.8em;
}


nav {
    font-size:1.3em;
    padding:10px;
    text-align:center;
}

nav a {
  color: #cc0000;;
}
nav a:hover {
    text-decoration: underline;
    color: #990000;
}
nav a.settings {
    color: #996600;
}


