

<div style="text-align:center;">
<div class="alert-box"><h1>
 -+-  MyG  -+- 
</h1></div>
{{# mysql_tablist }}
    <h2><a href="/tabs/{{ to_s.downcase }}">{{ to_s }}</a></h2>
{{/ mysql_tablist }}
</div>


