<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/root.css">
    <title>MyG</title>
</head>
<body>
    <header>
        <nav>
        <a href="/">HOME</a>
        </nav>
    </header>
    <hr />
        
        {{{ yield }}}
        
        <hr />
        <footer>
            <nav>
                <a href="/">HOME</a>
            </nav>
        </footer>


</body>
