Oh hey


{{#tabs}}
    <hr />
    <h1>{{tab_name}}</h1>

    {{#tab_data}}
        
        <h3>{{{feed_title}}}</h3>
        {{#feed_data}}
            <li><a href="{{url}}" target="_blank">{{title}}</a></li>
            {{{summary}}}
        {{/feed_data}}
    {{/tab_data}}
{{/tabs}}
