

{{# pt }}
<div class="twelve column">
<section>

    <h1>{{ tab_name }}</h1>
    <a href="/fetch/{{ tab_name.downcase }}">refresh</a>

    <div class="row">
    {{# tab_data }} 
    <div class="six column">
    <div class="holder ">
        <h3>{{ feed_title.upcase.strip }}</h3>
        <div class="feed">
        {{# feed_data }}
            <article><a href="{{ url }}" target="{{tab_name}}">
                <h5>{{{ title}}}</h5>
                <em>{{{ pubdate }}}</em>&nbsp;&nbsp;&nbsp;<p
                class="summary">{{{ summary }}}</p>
                </a>
            </article>
        {{/ feed_data }}
        </div>
    </div>
    </div>
    {{/ tab_data }}

</div>
</section>
</div>
{{/ pt }}


